@model IEnumerable<MVCMovie.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

<p>
    <span class="btn btn-success" id="CreateButton">
        @Html.ActionLink("Add New Movie", "Create")
    </span>

    @*adding searching capability for different Movies*@

    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
    <p>
        Genre: @Html.DropDownList("movieGenre", "All")
        Title: @Html.TextBox("SearchString")
        <input type="submit" value="SEARCH" class="btn btn-info"/>
    </p>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <span class="btn btn-warning" id="CreateButton">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
            </span>
            |
            <span class="btn btn-primary" id="CreateButton">
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </span>
             |
            <span class="btn btn-danger" id="CreateButton">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </span>
        </td>
    </tr>
}

</table>
